h1 {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: cyan;
}

body {
    background: linear-gradient(rgb(78, 78, 78), rgb(1, 149, 175));
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

#contenedorMenu {
    text-align: center;
}

#contenedorNavegacion {
    display: flex;
    justify-content: center;
}

#contenedorTitulo {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(54, 53, 53);
    padding: 0.5%;
    margin-bottom: 5px;
}

nav button, select {
    border: none;
    background-color: rgba(0, 255, 255, 0);
    color: cyan;
    font-size: large;
    padding-inline: 10%;
    padding-block: 3px;
}


nav button:hover {
    background: rgb(31, 31, 31);
    border-bottom: solid 1px cyan;
}

#contenedorVideojuego {
    display: flex;
    justify-content: center;
}

#pantallaVideojuego * {
    cursor: url("../images/jeringa.png"), auto;
}

#pantallaVideojuego {
    width: 90%;
    height: 70%;
    background: #000000;
    display: grid;
    justify-content: center;
    border-radius: 10px;
    cursor: url("../images/jeringa.png"), auto;
    height: 80vh;
    overflow: hidden;
    padding-top: 1%;
}

#contenedorBolaDiscoteca {
    display: flex;
    width: fit-content;
    height: fit-content;
    transform-origin: top center;
    margin-left: 40%;
    align-items: center;
    justify-content: center;
}

#contenedorBolaDiscoteca img {
    height: fit-content;
}

.contenedorCovid {
    width: 50px;
    height: 50px;
    position: absolute;
    transition: all linear 0.01s;
    /* add a linear transition for all properties */
    border-radius: 50%;
    margin-top: 15%;
}

.contenedorCovid button {
    background-color: rgba(255, 0, 0, 0);
    width: fit-content;
    height: fit-content;
    border-width: 0;
    box-shadow: 0 0 100px #cf322d;
    border-radius: 50%;
}

.contenedorCovid button:hover {
    box-shadow: 0 0 100px #c4cf2d;
    transform: scale(1.2);
}

#startButton {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 15%;
    background-color: rgba(4, 201, 4, 0.185);
    border-width: 0;
    color: rgb(153, 139, 139);
}

#startButton:hover {
    scale: 110%;
    background-color: rgba(4, 201, 4, 0.425);
    color: rgb(255, 255, 255);
    font-size: large;
    box-shadow: 0 0 100px #2dcf5e;
    animation: increaseEffect 1s infinite alternate;
}

#marcador{
    color: cyan;
    position: absolute;
    margin-left: 1%;
    font-size: x-large;
}

.miProyectil {
    position: absolute;
    ;
    animation: rotation 1s infinite linear;
}

#mensajeVictoria {
    color: rgb(0, 255, 64);
    font-size: xx-large;
    text-decoration: underline;
    border: solid 1px;

}

#contenedorVictoria {
    border-top: solid 1px rgb(0, 255, 64);
    height: fit-content;
    border-bottom: solid 1px rgb(0, 255, 64);
}

#mensajeVictoria {
    color: rgb(0, 255, 64);
    font-size: xx-large;
    border: none;
}

footer {
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
}

#altavozDerecho{
    position: absolute;
    margin-left:83%;
    margin-top:62vh; 
    animation: increaseEffect 2s infinite alternate;
}

#altavozIzquierdo{
    position: absolute;
    margin-left: 0;
    margin-left: 1%;
    margin-top:62vh; 
    animation: increaseEffect 2s infinite alternate;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}


@keyframes increaseEffect {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}